<div id="<%= dom_id sku %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= sku.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= sku.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Tenant:</strong>
    <%= sku.tenant_id %>
  </p>

</div>
